bin/*
lib/*
include/*
build/*
eggs/*
parts/*
docs/*
LICENSE
docker-compose.yml
CODEOWNERS
docker_push
Makefile
README.rst
CHANGELOG.rst
performance-data.md
.travis.yml
.gitignore
.readthedocs.yml
.codecov.yml
.coveragerc
