*.pyc
*.pyo
/.idea/
/.installed.cfg
/.mr.developer.cfg
/bin/
/Data.fs*
/develop-eggs/
/parts/
/result
*.egg-info/
.eggs
.cache
cov_html
data
lib
eggs
extras
.coverage
data*
include/
pip-selfcheck.json
.coveralls.yml
