aioredis>=1.2.0;python_version<"3.8"
aioredis>=1.3.0;python_version>="3.8"
html2text==2019.8.11
aiosmtplib==1.0.6
pre-commit==1.18.2
flake8==3.7.7
codecov==2.0.15
mypy==0.740
mypy-zope==0.2.2
black==19.3b0
isort==4.3.21
