aioredis==2.0.0
html2text==2019.8.11
aiosmtplib==1.1.4
pre-commit==1.18.2
flake8==3.9.2
codecov==2.0.15
mypy-zope==0.3.2
black==21.10b0
isort==4.3.21
jinja2==2.11.3
pytz==2020.1
emcache==0.4.1; python_version < '3.10'
pymemcache==3.4.0; python_version < '3.10'
pillow==8.3.2
