recommonmark
# sphinxcontrib-httpexample
sphinx==1.8.2
sphinx-guillotina-theme==1.0.7
sphinxcontrib.httpdomain==1.7.0
sphinxcontrib-httpexample==0.9.0
sphinx-autodoc-typehints==1.5.2
docutils==0.13.1
readme-renderer==22.0