graft guillotina
include *.rst
include VERSION
global-exclude *.pyc
include *.json
include *.nix
include *.py
include Dockerfile
include LICENSE
include buildout-pypy.cfg
include buildout.cfg
include zeo.cfg
include docs/*
include guillotina/documentation/meta/*
include buildout-newt.cfg
include guillotina/*
include guillotina/documentation/meta/*
exclude pip-selfcheck.json
recursive-include docs *.md
recursive-include docs *.py
recursive-include docs *.rst
recursive-include static *.ico
include *.txt
include .coveragerc
include Makefile
include buildout-docs.cfg
