Cython==0.29.24
asyncpg>=0.28.0
cffi==1.14.6
chardet==3.0.4
jsonschema==2.6.0
multidict==6.0.4
pycparser==2.20
pycryptodome==3.6.6
PyJWT~=2.1.0
python-dateutil==2.8.2
PyYaml>=5.1
six==1.11.0
orjson>=3,<4
zope.interface==5.1.0
uvicorn==0.17.6
argon2-cffi==18.3.0
backoff==1.10.0
prometheus-client==0.8.0
typing_extensions==3.7.4.3

types-chardet==0.1.5
types-docutils==0.17.0
types-orjson==3.6.0
types-python-dateutil==0.1.6
types-pytz==2021.1.2
types-PyYAML==5.4.6
types-setuptools==57.0.2
types-toml==0.1.5
types-redis==4.3.21
