.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #F5F5F6;
    text-align: center;
    padding: .809em;
    display: block;
    color: #fcfcfc;
    margin-bottom: .809em;
}

.wy-side-nav-search input[type="text"] {
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #00B5AD;
}

.wy-nav-side {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding-bottom: 2em;
	width: 300px;
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 100%;
	color: #9b9b9b;
	background: #F5F5F6;
	z-index: 200;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 1000px;
    margin: auto;
}

.wy-nav-content-wrap {
    background: #FFFFFF;
}

.wy-nav-content {
    margin: 0;
    background: #FFFFFF;
}

.wy-menu-vertical a {
    display: inline-block;
    line-height: 18px;
    padding: .4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #444444;
}

.wy-menu-vertical a:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

a {
    color: #00B5AD;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"] {
    -webkit-appearance: none;
    padding: 6px;
    display: inline-block;
    border: 2px solid #ccc;
    font-size: 80%;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 0;
    -webkit-transition: border .3s linear;
    -moz-transition: border .3s linear;
    transition: border .3s linear;
}

.wy-nav-top {
    display: none;
    background: #F5F5F6;
    color: #fff;
    padding: .4045em .809em;
    position: relative;
    line-height: 50px;
    text-align: center;
    font-size: 100%;
    *zoom: 1;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #00B5AD;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    padding: 0 1.618em;
    margin: 12px 0 0 0;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 85%;
    white-space: nowrap;
}

.wy-alert.wy-alert-warning .wy-alert-title, .rst-content .wy-alert-warning.note .wy-alert-title, .rst-content .attention .wy-alert-title, .rst-content .caution .wy-alert-title, .rst-content .wy-alert-warning.danger .wy-alert-title, .rst-content .wy-alert-warning.error .wy-alert-title, .rst-content .wy-alert-warning.hint .wy-alert-title, .rst-content .wy-alert-warning.important .wy-alert-title, .rst-content .wy-alert-warning.tip .wy-alert-title, .rst-content .warning .wy-alert-title, .rst-content .wy-alert-warning.seealso .wy-alert-title, .rst-content .admonition-todo .wy-alert-title, .rst-content .wy-alert-warning.admonition .wy-alert-title, .wy-alert.wy-alert-warning .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-warning .admonition-title, .rst-content .wy-alert-warning.note .admonition-title, .rst-content .attention .admonition-title, .rst-content .caution .admonition-title, .rst-content .wy-alert-warning.danger .admonition-title, .rst-content .wy-alert-warning.error .admonition-title, .rst-content .wy-alert-warning.hint .admonition-title, .rst-content .wy-alert-warning.important .admonition-title, .rst-content .wy-alert-warning.tip .admonition-title, .rst-content .warning .admonition-title, .rst-content .wy-alert-warning.seealso .admonition-title, .rst-content .admonition-todo .admonition-title, .rst-content .wy-alert-warning.admonition .admonition-title {
    background: #ff4400;
}

.wy-alert.wy-alert-warning, .rst-content .wy-alert-warning.note, .rst-content .attention, .rst-content .caution, .rst-content .wy-alert-warning.danger, .rst-content .wy-alert-warning.error, .rst-content .wy-alert-warning.hint, .rst-content .wy-alert-warning.important, .rst-content .wy-alert-warning.tip, .rst-content .warning, .rst-content .wy-alert-warning.seealso, .rst-content .admonition-todo, .rst-content .wy-alert-warning.admonition {
    background:
#fff;
    background-color:
    rgb(255, 255, 255);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
border: 1px solid;
    border-top-color: currentcolor;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: currentcolor;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: currentcolor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentcolor;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
border-color: #f40;
    border-top-color: rgb(255, 68, 0);
    border-right-color: rgb(255, 68, 0);
    border-bottom-color: rgb(255, 68, 0);
    border-left-color: rgb(255, 68, 0);
}
