{
	"databases": [{
		"zodb": {
			"storage": "ZODB",
			"path": "Data.fs"
		}
	}],
	"host": "127.0.0.1",
	"port": 8080,
	"root_user": {
		"password": "root"
	},
  "auth_extractors": [
    "plone.server.auth.extractors.BearerAuthPolicy",
    "plone.server.auth.extractors.BasicAuthPolicy",
    "plone.server.auth.extractors.WSTokenAuthPolicy"
  ],
  "auth_user_identifiers": [],
  "auth_token_validators": [
    "plone.server.auth.validators.SaltedHashPasswordValidator",
    "plone.server.auth.validators.JWTValidator"
  ],
  "cors": {
    "allow_origin": ["http://localhost:8080"],
    "allow_methods": ["GET", "POST", "DELETE", "HEAD", "PATCH", "OPTIONS"],
    "allow_headers": ["*"],
    "expose_headers": ["*"],
    "allow_credentials": true,
    "max_age": 3660
  },
  "jwt": {
    "secret": "foobar",
    "algorithm": "HS256"
  }
}
